<!DOCTYPE html>
%html
  %head
    %title Photogram
    = csrf_meta_tags
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'

  %body
    .container
      -flash.each do |name, msg|
        = content_tag :div, msg, class: [:alert, alert_for(name)]
      = render 'layouts/navbar'
      = yield
